@import '../variables';
.content__top{
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;

  }
}

.categories {
  margin-right: 50px;
  @media (max-width: 1200px) {
    width: 800px;
    overflow: auto;
  }
  @media (max-width: 500px) {
    margin: 0;
    width: 95%;
    margin-bottom: 30px;

  }

  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      @media (max-width:500px) {
        padding: 9px 17px;
        margin-bottom: 2px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
